* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    scroll-behavior: smooth;
    border: none;
    outline: none;
    font-family: "Jost", sans-serif;
}
:root {
    --bg-color: #ffffff;
    --text-color: #000000;
    --main-color: #cf0018;
    --second-color: #666666;
    --other-color: #f4ddd6;
    --second-bg-color: #f5f5f5;

    --h1-font: 5rem;
    --h2-font: 4rem;
    --p-font: 1.1rem;
}
body {
    background: var(--bg-color);
    color: var(--text-color);
}
/* //////////////// */
/* ---- header ---- */
/* //////////////// */
header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    padding: 35px 12%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    transition: all .50s ease;
}
header.sticky {
    background: var(--bg-color);
    padding: 13px 12%;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}
.logo {
    font-size: 35px;
    font-weight: 700;
    color: var(--text-color);
}
.navlist {
    display: flex;
}
.navlist a {
    font-size: var(--p-font);
    font-weight: 500;
    margin: 0 25px;
    color: var(--text-color);
}
.navlist a:hover {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}
.nav-right {
    display: flex;
    align-items: center;
}
.nav-right i {
    font-size: 25px;
    color: var(--text-color);
    margin: 0 10px;
    transition: all .4s ease;
}
.nav-right i:hover {
    color: var(--main-color);
    /* border-bottom: 3px solid var(--main-color); */
}
#menu-icon {
    font-size: 32px;
    cursor: pointer;
    z-index: 10001;
    margin-left: 15px;
    display: none;
}
/* ////////////// */
/* ---- home ---- */
/* ////////////// */
section {
    padding: 70px 12% 80px;
}
.home {
    position: relative;
    height: 100vh;
    width: 100%;
    background: var(--second-bg-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.home-text h5 {
    font-size: 22px;
    font-weight: 500;
    color: var(--main-color);
}
.home-text h1 {
    margin: 18px 0;
    font-size: var(--h1-font);
    font-weight: 800;
    line-height: 1.3;
    text-transform: uppercase;
}
.home-text p {
    color: var(--second-color);
    font-size: 22px;
    margin-bottom: 40px;
}
.btn {
    display: inline-block;
    padding: 11.5px 30px;
    background: var(--text-color);
    color: var(--bg-color);
    font-size: var(--p-font);
    text-transform: uppercase;
    transition: all .50s ease;
    border-radius: 2px;
}
.btn i {
    margin-right: 8px;
}
.btn:hover {
    background: var(--main-color);
}
.home-img img {
    width: 100%;
    height: auto;
}
/* ///////////////////// */
/* ---- crafts area ---- */
/* ///////////////////// */
.crafts {
    padding: 90px 12% 20px;
}
.crafts-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    align-items: center;
    gap: 1.7rem;
    text-align: center;
}
.crafts-box {
    transition: all .50s ease;
}
.crafts-box:hover {
    transform: translateY(-8px);
    cursor: pointer;
}
.crafts-box img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}
.crafts-box h6 {
    font-size: 20px;
    font-weight: 500;
    color: var(--main-color);
}
.crafts-box h3 {
    margin: 8px 0px;
    font-size: 26px;
    font-weight: 700;
}
.crafts-btn {
    display: inline-block;
    font-size: var(--p-font);
    color: var(--text-color);
    border-bottom: 1px solid var(--text-color);
}
/* ////////////////////// */
/* ---- new products ---- */
/* ////////////////////// */
.center-in {
    text-align: center;
}
.center-in h2 {
    font-size: var(--h2-font);
    margin: 10px 0;
}
.center-in p {
    font-size: var(--p-font);
    color: var(--second-color);
}
.new-products-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    align-items: center;
    gap: 1.7rem;
    margin-top: 5rem;
}
.row {
    position: relative;
    text-align: center;
    cursor: pointer;
}
.row h3 {
    margin-top: 15px;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px;
}
.row h5 {
    font-size: 17px;
    font-weight: 500;
    color: var(--second-color);
}
.row-img {
    overflow: hidden;
}
.row-img img {
    display: block;
    width: 100%;
    transition: transform 0.6s;
    cursor: pointer;
}
.row-img img:hover {
    transform: scale(1.1);
}
.row .r-btnn a {
    position: absolute;
    bottom: 80px;
    left: 0;
    right: 0;
    padding: 13px;
    background: rgba(0, 0, 0, 0.9);
    color: var(--bg-color);
    transition: opacity 0.5s;
    opacity: 0;
}
.row:hover .r-btnn a {
    opacity: 1;
}
/* //////////////// */
/* ---- cta ---- */
/* //////////////// */
.cta-content {
    padding: 120px 100px;
    background: url(../img/cta.jpg);
    background-size: cover;
    background-position: center;
}
.cta-content h4 {
    font-size: 40px;
    font-weight: 700;
}