* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    scroll-behavior: smooth;
    border: none;
    outline: none;
    font-family: "Jost", sans-serif;
}
:root {
    --bg-color: #ffffff;
    --text-color: #000000;
    --main-color: #cf0018;
    --second-color: #666666;
    --other-color: #f4ddd6;
    --second-bg-color: #f5f5f5;

    --h1-font: 5rem;
    --h2-font: 4rem;
    --p-font: 1.1rem;
}
body {
    background: var(--bg-color);
    color: var(--text-color);
}
/* //////////////// */
/* ---- header ---- */
/* //////////////// */
header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    padding: 35px 12%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    transition: all .50s ease;
}
header.sticky {
    background: var(--bg-color);
    padding: 13px 12%;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}
.logo {
    font-size: 35px;
    font-weight: 700;
    color: var(--text-color);
}
.navlist {
    display: flex;
}
.navlist a {
    font-size: var(--p-font);
    font-weight: 500;
    margin: 0 25px;
    color: var(--text-color);
}
.navlist a:hover {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}
.nav-right {
    display: flex;
    align-items: center;
}
.nav-right i {
    font-size: 25px;
    color: var(--text-color);
    margin: 0 10px;
    transition: all .4s ease;
}
.nav-right i:hover {
    color: var(--main-color);
    /* border-bottom: 3px solid var(--main-color); */
}
#menu-icon {
    font-size: 32px;
    cursor: pointer;
    z-index: 10001;
    margin-left: 15px;
    display: none;
}
/* ////////////// */
/* ---- home ---- */
/* ////////////// */
section {
    padding: 70px 12% 80px;
}
.home {
    position: relative;
    height: 100vh;
    width: 100%;
    background: var(--second-bg-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.home-text h5 {
    font-size: 22px;
    font-weight: 500;
    color: var(--main-color);
}
.home-text h1 {
    margin: 18px 0;
    font-size: var(--h1-font);
    font-weight: 800;
    line-height: 1.3;
    text-transform: uppercase;
}
.home-text p {
    color: var(--second-color);
    font-size: 22px;
    margin-bottom: 40px;
}
.btn {
    display: inline-block;
    padding: 11.5px 30px;
    background: var(--text-color);
    color: var(--bg-color);
    font-size: var(--p-font);
    text-transform: uppercase;
    transition: all .50s ease;
    /* border-radius: 2px; */
}
.btn i {
    margin-right: 8px;
}
.btn:hover {
    background: var(--main-color);
}
.home-img img {
    width: 100%;
    height: auto;
}
/* ///////////////////// */
/* ---- crafts area ---- */
/* ///////////////////// */
.crafts {
    padding: 90px 12% 20px;
}
.crafts-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    align-items: center;
    gap: 1.7rem;
    text-align: center;
}
.crafts-box {
    transition: all .50s ease;
}
.crafts-box:hover {
    transform: translateY(-8px);
    cursor: pointer;
}
.crafts-box img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}
.crafts-box h6 {
    font-size: 20px;
    font-weight: 500;
    color: var(--main-color);
}
.crafts-box h3 {
    margin: 8px 0px;
    font-size: 26px;
    font-weight: 700;
}
.crafts-btn {
    display: inline-block;
    font-size: var(--p-font);
    color: var(--text-color);
    border-bottom: 1px solid var(--text-color);
}
/* ////////////////////// */
/* ---- new products ---- */
/* ////////////////////// */
.center-in {
    text-align: center;
}
.center-in h2 {
    font-size: var(--h2-font);
    margin: 10px 0;
}
.center-in p {
    font-size: var(--p-font);
    color: var(--second-color);
}
.new-products-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    align-items: center;
    gap: 1.7rem;
    margin-top: 5rem;
}
.row {
    position: relative;
    text-align: center;
    cursor: pointer;
}
.row h3 {
    margin-top: 15px;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px;
}
.row h5 {
    font-size: 17px;
    font-weight: 500;
    color: var(--second-color);
}
.row-img {
    overflow: hidden;
}
.row-img img {
    display: block;
    width: 100%;
    transition: transform 0.6s;
    cursor: pointer;
}
.row-img img:hover {
    transform: scale(1.1);
}
.row .r-btnn a {
    position: absolute;
    bottom: 80px;
    left: 0;
    right: 0;
    padding: 13px;
    background: rgba(0, 0, 0, 0.9);
    color: var(--bg-color);
    transition: opacity 0.5s;
    opacity: 0;
}
.row:hover .r-btnn a {
    opacity: 1;
}
/* ///////////// */
/* ---- cta ---- */
/* ///////////// */
.cta-content {
    padding: 120px 100px;
    background: url(../img/cta.jpg);
    background-size: cover;
    background-position: center;
}
.cta-content h4 {
    font-size: 40px;
    font-weight: 700;
}
.cta-content p {
    width: 100%;
    max-width: 600px;
    font-size: var(--p-font);
    line-height: 32px;
    margin: 18px 0;
}
.c-search form {
    display: grid;
    grid-template-columns: 1fr 0.4fr;
    gap: 1rem;
}
.c-search form input:first-child {
    display: inline-block;
    width: 100%;
    font-size: 17px;
    padding: 15px;
}
.c-search form input:last-child {
    display: inline-block;
    width: 100%;
    max-width: 180px;
    padding: 16px 30px;
    background: var(--main-color);
    color: var(--bg-color);
    font-size: var(--p-font);
    cursor: pointer;
}
/* /////////////////////////// */
/* ---- Trending products ---- */
/* /////////////////////////// */
.trending-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    align-items: center;
    gap: 1.7rem;
    margin-top: 5rem;
    text-align: center;
}
.box {
    transition: all .50s ease;
}
.box:hover {
    transform: translateY(-8px);
    cursor: pointer;
}
.box img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}
.box h5 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 5px;
}
.box h6 {
    font-size: 17px;
    font-weight: 500;
    color: var(--second-color);
}
/* ////////////// */
/* ---- blog ---- */
/* ////////////// */
.blog-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    align-items: center;
    gap: 1.7rem;
    margin-top: 5rem;
}
.blog-img {
    overflow: hidden;
}
.blog-img img {
    display: block;
    width: 100%;
    transition: transform 0.6s;
    cursor: pointer;
}
.blog-img img:hover {
    transform: scale(1.1);
}
.blog-box h6 {
    margin-top: 15px;
    font-size: 15px;
    font-weight: 500;
    color: var(--second-color);
    margin-bottom: 10px;
}
.blog-box h3 {
    font-size: 20px;
    font-weight: 700;
    transition: all .4s;
}
.blog-box:hover h3 {
    color: var(--main-color);
}
/* //////////////// */
/* ---- footer ---- */
/* //////////////// */
.footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 2rem;
}
.footer-box {
    display: flex;
    flex-direction: column;
}
.footer-box h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
}
.footer-box p {
    color: var(--second-color);
    font-size: var(--p-font);
    line-height: 32px;
    margin-bottom: 40px;
}
.footer-box .icons a{
    display: inline-block;
    font-size: 22px;
    color: var(--second-color);
    margin-right: 12px;
    transition: all .6s ease;
}
.footer-box .icons a:hover {
    transform: scale(1.1) translateY(-4px);
    color: var(--main-color);
}
.footer-box a {
    font-size: 17px;
    color: var(--second-color);
    margin-bottom: 0.8rem;
    transition: all .50s ease;
}
.footer-box a:hover {
    transform: translateX(5px);
    color: var(--text-color);
}
/* /////////////////// */
/* ---- copyright ---- */
/* /////////////////// */
.copyright {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 20px 12% 20px;
}
.end-text p {
    font-size: var(--p-font);
    color: var(--second-color);
}
.end-img img {
    width: 100%;
    height: auto;
    cursor: pointer;
}
/* ///////////// */
/* ---- top ---- */
/* ///////////// */
.top {
    position: fixed;
    bottom: 2.5rem;
    right: 3rem;
}
.top i {
    font-size: 20px;
    color: var(--bg-color);
    background: var(--main-color);
    padding: 12px;
    border-radius: 2rem;
}
/* //////////////////// */
/* ---- Responsive ---- */
/* //////////////////// */
@media(max-width:1750px) {
    header {
        padding: 25px 7%;
    }
    header.sticky {
        padding: 10px 7%;
    }
    section {
        padding: 60px 7% 60px;
    }
    .crafts {
        padding: 60px 7% 20px;
    }
    .copyright {
        padding: 20px 7% 20px;
    }
}
@media(max-width:1400px) {
    header {
        padding: 22px 5%;
    }
    header.sticky {
        padding: 10px 5%;
    }
    section {
        padding: 60px 5% 60px;
    }
    .crafts {
        padding: 60px 5% 20px;
    }
    .copyright {
        padding: 20px 5% 20px;
    }
    :root {
        --h1-font: 4.2rem;
        --h2-font: 3.2rem;
        --p-font: 1rem;
    }
}
@media(max-width:1240px) {
    .home {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 2rem;
        height: auto;
    }
    .home-text {
        padding-top: 60px;
        margin-bottom: 40px;
    }
}
@media(max-width:1000px) {
    #menu-icon {
        display: block;
    }
    .navlist {
        position: absolute;
        width: 100%;
        height: 100vh;
        padding: 40px 60px;
        top: 0;
        bottom: 0;
        left: 100%;
        right: 0;
        display: flex;
        flex-direction: column;
        background: var(--bg-color);
        transition: all .50s ease;
    }
    .navlist a {
        display: block;
        color: #979797;
        padding: 0;
        margin: 0px 0px 40px 0px;
        font-size: 2.2rem;
        font-weight: 400;
    }
    .navlist a:hover {
        border-bottom: none;
    }
    .navlist.open {
        left: 0;
    }
}
@media(max-width:700px) {
    .home {
        gap: 0px;
    }
    :root {
        --h1-font: 3rem;
        --h2-font: 2rem;
    }
    .cta-content {
        padding: 40px 30px;
    }
}
@media(max-width:450px) {
    :root {
        --h1-font: 2.4rem;
        --h2-font: 1.8rem;
    }
}